<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand">Angular 11 CRUD Operations Demo</a>
  <div id="navbarNav" class="collapse navbar-collapse">
    <ul class="navbar-nav ml-auto ">
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/student-list">Show Student</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/teacher-list">Show Teacher</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/department-list">Department</a>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>

