<div class="row justify-content-center mt-5">
    <div class="col-md-4">
        <h2>Edit Department</h2>
        <form [formGroup]="updateDepartment" (ngSubmit)="onUpdate()" >
          <div class="form-group">
            <label>Name of Department</label>
            <input class="form-control" type="text" formControlName="department" required>
          </div>
          <div class="form-group">
            <label>HeadOfDepartment</label>
            <select class="form-control" formControlName="teacher">
                <option *ngFor="let teacher of Teachers; let i=index"  value="{{teacher._id}}">{{teacher.name}}</option>
            </select>
          </div>
          <div class="form-group">
            <button class="btn btn-primary btn-block" type="submit">Add Department</button>
            <a routerLink="/department-list" class="btn btn-danger">Back</a>
          </div>
        </form>
    </div>
  </div>